@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: hsl(0, 0%, 100%);
  --lightgrey: hsl(217, 12%, 63%);
  --mediumgrey: hsl(216, 12%, 54%);
  --darkblue: hsl(213, 19%, 18%);
  --verydarkblue: hsl(216, 12%, 8%);
  --orange: #fa7312;
  --bgrey: #2d3742;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
}

.bgrey{
  background-color: #2d3742;
}
.darkblue{
  background-color: hsl(213, 19%, 18%);
}
.orange{
  background-color: hsl(25, 97%, 53%);
}
